.news-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news-content {
  display: flex;
  align-items: center;
  flex-grow: 1; 
}

.news-date {
  padding: 0 10px;
  color: #fff;
  white-space: nowrap;
}

.news-description {
  margin-top: 10px;
  color: #ccc;
  font-size: 0.9em;
  width: 100%; 
  overflow-wrap: break-word; 
}

.news-title-link {
  color: #fff;
  text-decoration: none;
  overflow-wrap: break-word; 
}

.news-title-link:hover {
  text-decoration: underline;
}

.news-item {
  border: 1px solid #3d429daa;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #212121;
  transition: background-color 0.3s ease;
  cursor: pointer;
  max-width: 100%; 
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.news-item:hover {
  background-color: #22266f;
}

@media (max-width: 768px) {
  .news-item {
  }

  .news-item-content, .news-content {
    flex-direction: column;
  }

  .news-date {
    margin-top: 10px;
  }
}

.news-description, .news-title-link {
  overflow-wrap: break-word;
}