.publication-box {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    color: #d6bfed;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    max-width: 800px;
    width: 90%;
    overflow: hidden; 
}

.publication-box p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .publication-box p {
        white-space: normal;
    }

    .bibtex-entry, .copy-button {
        max-width: 100%; 
        box-sizing: border-box;
    }
}

.publication-box:hover {
    background-color: #1b1b2c;
    color: #ebe7ef;
}

.publication-section {
    margin-top: 10px;
}

.bibtex-container {
    position: relative;
}

.bibtex-entry {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-x: auto; 
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.copy-button:hover {
    opacity: 1;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.copy-icon {
    width: 24px;
    height: 24px;
}
