#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.social-icon {
  font-size: 25px; 
  margin-right: 30px; 
  color: #9760b8;
}

.social-icon:hover {
  color: #fa64ff; 
}

.social-icon:last-child {
  margin-right: 10px;
}